.body{
    position: absolute;
    height:100vh;
    width: 100vw;
}
#rcMenu{
    height: 40px;
    width: 200px;
    position: absolute;
    padding: 0;
    margin: 0;
    border: None;
    cursor: pointer;
    display: none;
    z-index: 100;
}
#rcMenu  ul:hover {
    border: 1px dashed black;
}

#nodeBox{
    position: absolute;
    width: 100%;
    height: 100%;
}

.node{
    position:absolute;
    background-color: grey;
    z-index: 1;
}
.node:hover{
    border: 1px dashed orange;
}

.nodeEbox{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 10%;
    border: 1px dashed black;
    width: 10px;
    height: 10px;
    left:0;
}
.nodeEbox:hover{
    border-style: solid;
}
.curve{
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 30px;
}
.curve-element-1{
    position: absolute;
    width: calc(50% - 1px);
    height: calc(50% - 1px);
    top:0;
    left:0;
    border-radius: 0 0 0 100%;
    border: 2px solid grey;
    border-top: 0;
    border-right: 0;
}
.curve-element-2{
    position: absolute;
    right:0;
    bottom:0;
    width: calc(50% - 1px);
    height: calc(50% - 1px);
    border-radius: 0 100% 0 0;
    border: 2px solid grey;
    border-bottom: 0;
    border-left: 0;
}
#edgeBox{
    position:absolute;
    width: 100%;
    height: 100%;
    
}
.edge{
    fill: black;
    z-index: 99;
}
.edge_svg{
    position: absolute;
    z-index: 0;
}
.edge:hover{
    fill: orange;
}
#nodeMenu{
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.11);;
}
#nodeInputMenu{
    position: absolute;
    background-color: grey;
    width: 50vw;
    left: 25vw;
    top: 10vh;
    height: 80vh;
    border-radius: 2%;
}