.body{
    position: absolute;
    height:100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
}
#rcMenu{
    height: 40px;
    width: 200px;
    position: absolute;
    padding: 0;
    margin: 0;
    border: None;
    cursor: pointer;
    display: none;
    z-index: 100;
}
#rcMenu  ul:hover {
    border: 1px dashed black;
}

#nodeBox{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#gridElement{
    width: 120vw;
    height: 120vh;
    background-size: 40px 40px;
    position: absolute;
    background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.5) 1px, transparent 1px);
    background-color: white;
    z-index: -1;
    overflow: hidden;
}
.node{
    position:absolute;
    background-color: grey;
    z-index: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-style: border-box;
}

.node:hover{
    border: 1px dashed orange !important;
}

.nodeName{
    margin: 0;
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: eurostile;
    text-align: center;
    margin: auto;
}

.nodeEbox{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 10%;
    border: 1px dashed black;
    width: min(15%,10px);
    height: min(15%,10px);
    left:0;
}
.sizeControl{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 10%;
    border: none;
    width: min(15%,10px);
    height: min(15%,10px);
    cursor: nwse-resize;
    right:0;
    bottom: 0;
}
.nodeEbox:hover{
    border-style: solid;
}
.selectedNode{
    border:2px solid orange !important;
}
.curve{
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 30px;
}
.curve-element-1{
    position: absolute;
    width: calc(50% - 1px);
    height: calc(50% - 1px);
    top:0;
    left:0;
    border-radius: 0 0 0 100%;
    border: 2px solid grey;
    border-top: 0;
    border-right: 0;
}
.curve-element-2{
    position: absolute;
    right:0;
    bottom:0;
    width: calc(50% - 1px);
    height: calc(50% - 1px);
    border-radius: 0 100% 0 0;
    border: 2px solid grey;
    border-bottom: 0;
    border-left: 0;
}
#edgeBox{
    position:absolute;
    width: 100%;
    height: 100%;
    
}
.edge{
    fill: black;
    z-index: 99;
}
.edge_svg{
    position: absolute;
    z-index: 0;
}
.edge:hover{
    fill: orange;
}
#nodeMenu{
    width: 30vw;
    height: 30vw;
    position: fixed;
    z-index: 500;
}
#nodeInputMenu{
    position: absolute;
    background-color: grey;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    color:white;
    width: 100%;
    height: 100%;
}
#nodeInputMenu > div{
    height:18%;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
} 
#tagsInputField > input{
    width: 100%;
    height: 20%;
}
#tagBox{
    width:100%;
    height:80%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}
.tag{
    height:3rem;
    width: auto;
    border: 1px solid red;
    display: flex;
    width: min-content;
    align-items: center;
}
.tag > p {
    margin:0 5px;
    font-size: 2rem;
    left:0;
    width: min-content;
    white-space: nowrap;
    height: min-content;
}
.tag > img{
    right:0;
    height: 50%;
    aspect-ratio: 1;
    margin: auto;
    opacity: .5;
}
.tag > img:hover{
    opacity: 1;
}

.nodeInputField{
    z-index: 501;
}

#connectionsInputField{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    overflow: scroll;
    overflow-x: hidden;
}
.connectionTag{
    border: 1px dashed red;
    display: flex;
    font-size: 2rem;
    left:0;
    width: min-content;
    margin:0;
    padding: 0 5px;
    white-space: nowrap;
    align-items: center;
    height: 3rem;
}

p{
    font-family: eurostile;
}

#sideMenu{
    z-index: 1000;
    height:100vh;
    width:100px;
    position: fixed;
    margin: 0;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    left: 0;
    top:0;
    overflow: hidden;
}
#sideMenu > a{
    width:100%;
    height:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
#sideMenu > a:hover{
    background-color: rgb(162, 160, 160);
}
#sideMenu > a > h1{
    font-family: eurostile;
    font-size: 1em;
}
#importButton > input{
    display: none;
}

.layeredInput > p{
    width: 100%;
    height: 100%;
}
.layeredInput > textarea{
    width: 100%;
    height: 100%;
    resize: none;
    user-select: all;
}
#selectionBox{
    border: 1px dashed black;
    background-color: transparent;
    display: none;
    position: absolute;
    z-index: 1;
}
#mapNameInput{
    width:100vw;
    height:1em;
    background-color: grey;
    color: white;
    font-style: eurostile;
    position: fixed;
    top:0;
    left:0;
    border: none;
    z-index: 999;
    text-align: center;
}
#mapNameInput::placeholder{
    color: white;
}
#ruleList{
    position: absolute;
    display: flex;
    width: 100%;
    height: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: wheat;
    bottom: 0;
    flex-direction: column;
}
#ruleList > a{
    width: 100%;
    height: 10%;
}
#ruleMenu{
    position: absolute;
    width: 70%;
    height: 60%;
    top: 20%;
    left: 15%;
    background-color: bisque;
    z-index: 9999;
    display:none;
}
#ruleMenu > div{
    position: absolute;
    border: 1px solid black;
    box-sizing: border-box;
}
#ruleMenuTitleDiv{
    width: 20%;
    height: 20%;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
}
#ruleMenuTitleDiv > h1{
    margin:0;
    font-style: eurostile;
    width: fit-content;
    height: fit-content;
}
#menuRuleList{
    width: 20%;
    height: 80%;
    bottom:0;
    left: 0;
}
#ruleEditInput{
    left:20%;
    top:0;
    height: 40%;
    width: 80%;
}
#exampleDisplay{
    bottom:0;
    left:20%;
    width: 60%;
    height: 60%;
}
#affectedNodesList{
    right:0;
    bottom:0;
    width: 20%;
    height: 60%;
}
.styleRule{
    width:100%;
    height:2rem;
    display: grid;
    grid-template-columns: 6fr 2fr 2fr;
    overflow: hidden;
}
.styleRule > p{
    border: 1px solid red;
    height: 2rem;
    margin:0;
    cursor: pointer;
}